---
layout: default
---

<div class="home">

    <h1 class="page-heading">Logovi</h1>

    <ul class="post-list">
    {% for post in paginator.posts %}
        <li>
            <time class="post-meta">{{ post.date | date: "%d. %m. %Y." }}</time>
            <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <article>{{ post.content }}</article>
        </li>
    {% endfor %}
    </ul>

    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="/snagata{{ paginator.previous_page_path }}" class="previous">Novije</a>
        {% else %}
            <span class="previous">Novije</span>
        {% endif %}
        <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a href="/snagata{{ paginator.next_page_path }}" class="next">Starije</a>
        {% else %}
            <span class="next ">Starije</span>
        {% endif %}
    </div>

</div>
