<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
            <a class="page-link" href="http://www.myfitnesspal.com/teodragovic" target="_blank">Prehrana</a>
            {% for my_page in site.pages %}
                {% if my_page.title %}
                    {% unless my_page.url contains 'amp' %}
                    <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% endunless %}
                {% endif %}
            {% endfor %}
        </nav>

    </div>

</header>
