<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

    {% include favicon.html %}

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?v={{ site.css }}">
    <script>
        (function(d, w) {
            if (d.cookie.replace(/(?:(?:^|.*;\s*)webfont\s*\=\s*([^;]*).*$)|^.*$/, "$1")) {
                d.documentElement.className += ' wf-active'; return;
            }
            function activateFonts() {
                var n4 = new w.FontFaceObserver('Roboto', { weight: 400 });
                var n7 = new w.FontFaceObserver('Roboto', { weight: 700 });
                w.Promise
                    .all([n4.load(), n7.load()])
                    .then(function(){ d.documentElement.className += ' wf-active'; d.cookie = 'webfont=true'; });
            }
            var wf = d.createElement('script'), s = d.scripts[0]; wf.async = true;
            wf.src = 'https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/1.7.1/fontfaceobserver.min.js';
            wf.onload = activateFonts; s.parentNode.insertBefore(wf, s);
        })(document, window);
    </script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.url contains 'log' %}
        <link rel="alternate amphtml" type="text/html" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | append: 'amp' }}">
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
