/**
 * Reset some basic elements
 */

/* GLOBAL DEFAULTS */

// Reset
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
figure,
hr {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    min-height: 100vh;
}

html {
    height: 100%;
    background-color: $background-color;
    color: $text-color;
    font-size: percentage($base-font-size / 16);
}


/**
 * Basic styling
 */
body {
    font: $base-font-weight 85%/#{$base-line-height} sans-serif;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "alt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";


    position: relative;
    margin: 0 auto;
    // Remove gray highlight when tapping links in mobile Safari
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    @include at-min($on-palm) {
        font-size: 100%;
    }

    .wf-active & {
        font-family: $base-font-family;
    }

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img, video {
    max-width: 100%;
    height: auto;
    font-style: italic;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

textarea {
    resize: vertical;
    &:active,
    &:focus {
        outline: none;
        cursor: text;
    }
}

iframe {
    border: none;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a:not(.site-title):not(.page-link) {

    @include link-underline($background-color, $brand-color);
    &:hover {
        @include link-underline($background-color, $text-color);
    }
}

hr {
    display: block;
    border: 0;
    margin-bottom: em($spacing-unit / 2px);
    border-bottom: 1px dashed $grey-color;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: em($base-font-size);
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


// Table globals
table { width: 100%; }


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
