

.site-title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $background-color;
    &:hover,
    &:focus {
        color: darken($background-color, 10);
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 1;

    .page-link {
        color: $background-color;
        line-height: 30px;
        &:hover,
        &:focus {
            color: $background-color;
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

}



.site-header,
.site-footer {
    padding: 40px 0;
    background: $text-color;
    color: $background-color;
}

.site-footer {
    text-align: center;
    p { margin-bottom: 0 }
}


/**
 * Page content
 */
.page-content {
    padding: 40px 0;
    flex: 1 1 auto;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding-top: $spacing-unit / 2;
    }

    article { margin-bottom: 40px; }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color-dark;
    margin-bottom: 0;
}

.post-link {
    display: block;
    font-size: 24px;
    text-transform: capitalize;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: capitalize;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        line-height: 1;
        margin-top: $spacing-unit;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.pagination {
    text-align: center;
    .previous { float: left; }
    .next { float: right; }
}
