
/**
 * Wrapper
 */
.wrapper {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit * 2;
    padding-left: $spacing-unit * 2;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }

    @include media-query($on-palm) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


.site-title {
    font-size: $spacing-unit;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $background-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: darken($background-color, 10);
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 1;

    .page-link {
        color: $background-color;
        line-height: $spacing-unit;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $background-color;
            text-decoration: underline;
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: em(20);
        }
    }

}



.site-header,
.site-footer {
    padding: em(($spacing-unit * 1.5) / 1px) 0;
    background: $dark-bg;
    color: $background-color;
}

.site-footer {
    text-align: center;
    p { margin-bottom: 0 }
}


/**
 * Page content
 */
.page-content {
    padding: em(($spacing-unit * 1.5) / 1px) 0;
    flex: 1 2 auto;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding-top: $spacing-unit / 2;
    }

    article { margin-bottom: $spacing-unit; }
}

.post-meta {
    font-size: em($small-font-size);
    color: $grey-color-dark;
    margin-bottom: 0;
    letter-spacing: track(50);
}

.post-link {
    display: inline-block;
    font-size: 24px;
    text-transform: capitalize;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: em($spacing-unit / 1px);
}

.post-title {
    font-size: em(40);
    letter-spacing: -1px;
    line-height: 1;
    text-transform: capitalize;

    @include media-query($on-laptop) {
        font-size: em(34);
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: em(32);
        line-height: 1;
        margin-top: $spacing-unit;

        @include media-query($on-laptop) {
            font-size: em(28);
        }
    }

    h3 {
        font-size: em(26);
        text-transform: capitalize;

        @include media-query($on-laptop) {
            font-size: em(22);
        }
    }

    h4 {
        font-size: em(20);

        @include media-query($on-laptop) {
            font-size: em(18);
        }
    }
}


/**
 * Pagination
 */
.pagination {
    text-align: center;
    .previous { float: left; }
    .next { float: right; }
}
