---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y." }}</time>
        </p>
        <h1 class="post-title" itemprop="name headline"><strong>{{ page.title }}</strong></h1>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
        {% if page.grade %}
            <p><strong>{{ page.grade }}/10</strong></p>
        {% endif %}
    </div>

</article>
